#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 5rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

section {
  min-height: 60vh;
  padding: 2rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.02);
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #646cff;
}

section p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.2rem;
}
